body {
  margin: 0 auto;
}

header {
  width: 100%;
  background-color: #fff;
  padding: 10px 20px;
  position: fixed;
  top: 0;
  z-index: 999;
}

.navbar {
  padding: 0 20px;
  max-width: 1200px;
  border: 1px solid #fff;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 120px;
  float: left;
}

.botao {
  width: 50px;
  height: 50px;
  background-color: transparent;
  border-radius: 5px;
  border: 0;
  position: relative;
  cursor: pointer;
  display: none;
}

.botao::after {
  content: "";

  position: absolute;
  top: 35%;
  left: 15%;

  width: 70%;
  height: 5%;
  border-radius: 5px;
  background-color: #88221b;
}

.botao::before {
  content: "";

  position: absolute;
  top: 55%;
  left: 15%;

  width: 70%;
  height: 5%;
  border-radius: 5px;
  background-color: #88221b;
}

.menu {
  list-style: none;
  display: flex;
  align-items: center;
}

li {
  margin-left: 10px;
}

li a {
  font-weight: bold;
  display: block;
  padding: 10px 15px;
  text-decoration: none;
  color: rgba(0, 0, 0, 0.822);
  transition: all ease 0.3s;
}

li a:hover {
  color: #ee5610;
}

body {
  margin-top: 100px;
  font-family: 'Montserrat', sans-serif;
  background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0)), url(./img/background-image.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.hapvida {
  font-family: 'Roboto', sans-serif;
  font-size: 35px;
}

.container {
  padding: 15px 50px;
  align-items: center;
  display: flex;
}

.presentation {
  color: #fff;
  margin: 20px;
}

.getThePriceList {
  width: 320px;
  margin: 15px;
  text-align: center;
  color: #fff;
  background-color: rgb(255, 68, 0);
  border-radius: 5px;
}

.form {
  margin: 0 auto;
  float: right;
  background-color: #fff;
  text-align: center;
  width: auto;
  border-radius: 10px;
  padding: 10px;
  color: #C73328;

}

.solicitar-txt {
  font-size: 25px;
  font-weight: bold;
}

#nome,
#email,
#fone {
  height: 25px;
  border-radius: 10px;
  border-color: #88221b;
}

.button-wpp,
.submit-button {
  text-decoration: none;
  color: #fff;
  display: inline-block;
  font-weight: bold;
  padding: 1rem 2rem;
  border-radius: 10px;
  font: bold;
}

.submit-button {
  background-color: #C73328;
}

.submit-button:hover {
  background-color: #88221b;
  transition: all ease 0.3s;
  cursor: pointer;
}

.button-wpp {
  background-color: #0adf6a;
}

.button-wpp:hover {
  background-color: #0aca5aef;
  transition: all ease 0.3s;
  cursor: pointer;
}

.differentials {
  background-color: #fff;
  width: 100%;
}

.differentials-tittle {
  text-align: center;
  padding-top: 20px;
  color: #285CC6;
  font-size: 25px;
}

.differentials-general{
  display: flex;
  justify-content: center;
}

.block {
  color: #fff;
  background-color: #285CC6;
  width: 320px;
  height: 320px;
  margin: 15px auto;
  border-radius: 10px;
  padding: 15px;
  text-align: center;
  margin: 15px 30px;
}

.block img {
  width: 50px;
}

.mei {
  background-color: #285CC6;
  color: #fff;
  padding: 30px;
}

.mei h1 {
  padding-left: 30px;
  font-size: 35px;
  margin: 0 auto;
}

.mei h3 {
  font-size: 25px;

}

.mei img {
  float: right;
  width: 250px;
}

.mei-block {
  display: flex;
  align-items: center;
  padding-left: 30px;
}

.hosp {
  background-image: linear-gradient(rgb(0, 0, 0), rgba(0, 0, 0, 0)), url(./img/hospital-hap.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 300px;
  display: flex;
  width: 100%;
}

.info {
  display: flex;
  text-align: center;
  margin: auto;
  color: #fff;
  font-weight: bold;
}

.number {
  font-size: 50px;
  color: #ffe500;
  font-weight: bold;
}

.hops-info {
  width: 200px;
  margin: 25px;
}

footer {
  width: 100%;
  background-color: #fff;
  color: #C73328;
  display: flex;
  justify-content: center;
  font-weight: bold;
  align-items: center;
}

.contacts {
  font-size: 20px;
}

.contacts img {
  width: 25px;
}

.ig img {
  width: 25px;
}

.icon-footer,
.contacts,
.insta {
  padding: 10px 50px;
  text-align: center;
}

.icon-footer img {
  width: 150px;
}

.insta a {
  align-content: center;
}

.developer {
  color: #C73328;

}

.developer a {
  text-decoration: none;
  list-style: none;
  font-weight: bold;
  color: #C73328;
  cursor: pointer;
}

@media screen and (max-width: 980px) {

  .botao {
    display: block;
    z-index: 999;
  }

  .menu {
    position: fixed;
    top: 0;
    right: 0;

    height: 100vh;
    margin: 0;
    background-color: #ee5610;

    width: 100%;
    max-width: 200px;

    flex-direction: column;

    padding: 80px 20px;

    transition: 0.5s ease;
    text-align: center;

  }

  .menu.active {
    right: -100%;
  }
  body,
  .container,
  .differentials,
  .differentials-general,
  .mei,
  .mei-block,
  .block,
  .info,
  .hops-info,
  .hosp,
  footer {
    text-align: center;
    display: inline-block;
    width: 100%;
    padding: 0;
    margin: 0 auto;
  }
  li a {
    color: #fff;
  }
  li a:hover{
    color: #88221b;
  }
  .container{
    margin-top: 50px;
  }
  .form{
    width: 85%;
    margin: 20px;
    align-items: center;
  }
  .block{
    width: 85%;
    margin: 10px 30px; 
    padding: 0;
  }
  .mei h1{
    font-size: 25px;
    margin: 30px;
  }
  .mei-block h3{
    font-size: 20px;
    margin: 30px;
  }
  .block img{
    padding-top: 15px;
  }
  .hosp{
    height: auto;
  }

}